body{
  background-image: linear-gradient(teal, purple);
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}

main{
  padding-bottom: 10px;
  padding: 0 40px;
}

a{
  cursor: pointer;
}