body{

}

.header-container{

  h1{
    font-size: 5rem;
  }
}

main{
  padding: 0 50px;
}

header{
  padding: 0 50px;
}

.main-nav{

  h2{
    font-size: 4rem;
  }
}

.material-symbols-outlined{
  font-size: 5rem;
}