.footer-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-image: linear-gradient(rgba(0,0,0,0.001), purple);
}

.copy-footer{
  color: whitesmoke;
}