header{
  padding: 0 0;
}

.header-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  h1{
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 3px 3px black;
    padding: 10px 10px;
  }

  a span{
    padding: 10px 10px;
    }
}

.material-symbols-outlined{
  font-size: 3.5rem;
  color: black;
}

.material-symbols-outlined:hover{
  color:purple;
  cursor: pointer;
}