.new-run-row{
  margin: 15px;
  height: 60px;
  background-color: black;
}

.new-run-cell{
  background-color: red;
  border: 1px solid yellow;
}

.new-run-input{
  background-color: green;
  border: 1px solid blue;
}